h3{
    color: rgb(159, 163, 156); 
}

body{
    width:200px;
    height:200px;
    border: 2px solid rgb(221, 202, 32);
    border-radius: 10px;
    padding:10px;
    margin:20px;
    background-color:rgb(0, 0, 0);
    box-sizing: border-box;
}

/* 1.Create a div tag with a width of 200px and height of 100px
2.Add a solid border of 2px and a border radius of 10px to the div
3.Add a padding of 10px and a margin of 20px to the div tag
4.Use the box sizing property to ensure the padding and border are included in the width and height of the div tag */